.community {
  background-color: #c4c4c4;
  width: 100%;
}

.communityImg {
  border-radius: 8px;
}


.placeTitle{
  text-align: center;
  font-size: 36px;

}

.placeSubtitle{
  text-align: center;
  font-size: 20px;
  color: #a1a1a1;

}